<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AirFrance_LeRetour</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>HomepageServlet</display-name>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>controllers.HomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>controllers.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>controllers.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>SearchResultsServlet</display-name>
    <servlet-name>SearchResultsServlet</servlet-name>
    <servlet-class>controllers.SearchResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResultsServlet</servlet-name>
    <url-pattern>/searchResults</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>ReservationSummary</display-name>
    <servlet-name>ReservationSummary</servlet-name>
    <servlet-class>controllers.ReservationSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationSummary</servlet-name>
    <url-pattern>/reservationSummary</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>RoutingServlet</display-name>
    <servlet-name>RoutingServlet</servlet-name>
    <servlet-class>controllers.RoutingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoutingServlet</servlet-name>
    <url-pattern>/routing</url-pattern>
  </servlet-mapping>
</web-app>