<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AirFrance_LeRetour</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>RedirectHomepageServlet</display-name>
    <servlet-name>RedirectHomepageServlet</servlet-name>
    <servlet-class>controllers.RedirectHomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectHomepageServlet</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>controllers.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>controllers.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>GetSearchResultsServlet</display-name>
    <servlet-name>GetSearchResultsServlet</servlet-name>
    <servlet-class>controllers.GetSearchResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSearchResultsServlet</servlet-name>
    <url-pattern>/searchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>RedirectReservationSummaryServlet</display-name>
    <servlet-name>RedirectReservationSummaryServlet</servlet-name>
    <servlet-class>controllers.RedirectReservationSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectReservationSummaryServlet</servlet-name>
    <url-pattern>/redirectReservationSummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>RedirectSigninServlet</display-name>
    <servlet-name>RedirectSigninServlet</servlet-name>
    <servlet-class>controllers.RedirectSigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectSigninServlet</servlet-name>
    <url-pattern>/redirectSignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>RedirectSignupServlet</display-name>
    <servlet-name>RedirectSignupServlet</servlet-name>
    <servlet-class>controllers.RedirectSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectSignupServlet</servlet-name>
    <url-pattern>/redirectSignup</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>Servlet Bienvenue</description>
    <display-name>ReservationSummaryServlet</display-name>
    <servlet-name>ReservationSummaryServlet</servlet-name>
    <servlet-class>controllers.ReservationSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationSummaryServlet</servlet-name>
    <url-pattern>/ReservationSummary</url-pattern>
  </servlet-mapping>
  
</web-app>